@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    ;
    background-color: #181818
}

li {
    list-style: none;
}

.container {
    width: 1440px;
}

header {
    display: flex;
    justify-content: center;
    height: 65px;
    width: 100%;
    background-color: #333333;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left {
    float: left;
    width: 50%;
}

.header-logo {
    display: flex;
    color: Red;
    float: left;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 0;
}

.header-logo img {
    margin-left: -15px;
    margin-right: -10px;
}

.header-list {
    width: 100%;
    margin: 5px;
    margin-top: 20px;
}

.header-list li {
    color: white;
    font-size: 15px;
    padding: 0px 20px;
    float: left;

}

.header-right {
    float: right;
    width: 50%;
}

.search {
    margin: 5px 0;
    margin-top: 10px;
    padding: 10px 5px;
    float: right;
    width: auto
}

.search input {
    background-color: transparent;
    width: auto;
}

.search input::placeholder {
    color: white;
}

.search input[type=text] {
    border: none;
    /* Remove default borders */
    padding: 4px 8px;
    border-radius: 12px;
    /* Sadly outline does not round! therefore...*/

}

.search input[type=text]:focus {
    outline: none;
    /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 2px white;
    /* Full freedom. (works also with border-radius) */
    background-color: white;
}

.notification {
    float: right;
    margin: 10px 30px;
    padding: 10px 5px;
    width: auto;
}


.login {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.login:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.login a {
    line-height: 65px;
    padding: 0 5px;
    color: white;
    display: block;
}

/* ---------------------------------------------- */
/* ---------------- Main-view style ------------- */

.container-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    margin-top: 150px;
    color: white;
}

.container-main:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 100px;
}

.container-main h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
}

.section-film {
    display: flex;
    justify-content: space-between;
    width: 1440px;
}

.list-film {
    width: 200px;
    cursor: pointer;
}

.list-film img {
    width: 200px;
}

.list-film p {
    margin: 0;
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: 1460px) {
    .container-main h2 {
        font-size: 16px;
    }

    .section-film {
        width: 1100px;
    }

    .list-film {
        width: 160px;
    }

    .list-film img {
        width: 160px;
    }

    .list-film p {
        font-size: 13px;
    }
}

@media screen and (max-width: 825px) {
    .container-main h2 {
        font-size: 20px;
        margin-left: 15px;
    }

    .section-film {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .list-film {
        width: 30%;
        margin-right: 3.2%;
        margin-bottom: 20px;
    }

    .list-film:nth-child(1) {
        margin-left: 15px;
    }

    .list-film:nth-child(4) {
        margin-left: 15px;
    }

    .list-film:nth-child(3n) {
        margin-right: 0;
    }

    .list-film img {
        width: 100%;
    }

    .list-film p {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .container-main h2 {
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .list-film {
        width: 29%;
        margin-right: 4%;
    }

    .list-film:nth-child(1) {
        margin-left: 10px;
    }

    .list-film:nth-child(4) {
        margin-left: 10px;
    }

    .list-film p {
        font-size: 11px;
    }
}

/* ---------------------------------------------- */
/* Footer*/

footer {
    background-color: #333333;
    color: #e60000;
    height: 45px;
    line-height: 30px;
    padding-bottom: 10px;
}

.container-footer {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
    line-height: 20px;
}

.footer-logo {
    float: left;
    font-size: 20px;
}

.footer-logo img {
    width: 35px;

}

.footer-logo li {
    float: left;
    padding: 0px 2px;
}

.judul-footer {
    padding-bottom: 25px;
}

.footer-list {
    float: right;
    padding-top: 4px
}

.ikutikami {
    padding-top: 0px;
    font-size: 15px;
}

.footer-list li {
    float: left;
    padding-left: 16px;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
    color: aliceblue;
}

/* Untuk smartphone */
@media all and (max-width: 670px) {

    footer,
    .container-footer {
        width: 100%;
        text-align: center;
        height: 70px;
    }

    .footer-logo {
        width: 100%;
        box-sizing: border-box;
        line-height: 20px;
        padding-left: 70px;
        padding-bottom: 10px;
    }


    .footer-list {
        float: none;
        text-align: center;
        width: 100%;
        padding-left: 40px;
    }

    .footer-list li {
        float: left;
        text-align: center;
        
    }
}


